@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {

    /* colors */ 
    --first-color: #ff6600;
    --second-color: rgb(0, 0, 0);
    --third-color: rgb(126, 36, 0);
    --fourth-color: #fff;

    /* text */

    --font-default: 'Poppins', sans-serif;
    --title-font: 3rem;
    --h2-font: 2.25rem;
    --h3-font: 1.75rem;
    --subtitle-font: 1.25rem;
    --text-font: 1rem;
    --text-center: center;

    /* others resources */
    --radius: 0.5rem;
    --transition: 0.5s;
    --pointer: pointer;
    --fixed: fixed;
    --scale: scale(120%);

    /* animation-delay */

    --animation-delay-1: 0.2s;
    /* --animation-delay-2: 0.4s;
    --animation-delay-3: 0.6s;
    --animation-delay-4: 0.8s;
    --animation-delay-5: 1s; */
}

.hidden {
    display: none;
}

a.link {
    font-size: 1.25rem;
    color: var(--first-color);
}

a.link:hover {
    color: var(--second-color);
    transition: var(--transition);
}

img {
    width: 18rem;
    border-radius: var(--radius);
    object-fit: contain;
}

h1,h2,h3,h5 {
    text-align: var(--text-center);
}

body {
    font-family: var(--font-default);
}

#header {
    position: var(--fixed);
    width: 100%;
    padding: 1rem;
    z-index: 1;
}

a.link.active {
    color: var(--fourth-color);
}

#header.active {
    background-color: var(--first-color);
}

.section#home {
    animation-delay: var(--animation-delay-1);
    height: calc(100vh - 1.875rem);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#social-media {
    display: grid;
    gap: 1.5rem;
}

#social-media i {
    font-size: 1.5rem;
    color: var(--first-color);
}

#about {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1rem;
}

#about .container {
    margin-top: 2rem;
    gap: 2rem;
}

#quanty-project {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.data-projects {
    background-color: var(--second-color);
    padding: 1rem;
    border-radius: var(--radius);
}

#skils {
    padding: 2rem;
}

.link-language {
    font-size: var(--h3-font);
    color: var(--first-color);
}

.link-language:hover {
    color: var(--second-color);
}

.image-language:hover {
    transform: var(--scale);
}

.grid {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: start;
}

.grid-item {
    background-color: var(--first-color);
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: var(--pointer);
    transition: 0.2s;
}

.grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-banner {
    height: 15rem;
}

.card-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-content {
    padding: 2rem;
}

.card-header {
    font-size: var(--h3-font);
    font-weight: 500;
    color: var(--second-color);
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: var(--text-font);
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: var(--fourth-color);
    margin-bottom: 2.5rem;
}

.important {
    font-size: var(--text-font);
    color: var(--fourth-color);
}

.link-card {
    display: block;
    padding: 0.5rem;
    font-size: var(--text-font);
    text-align: var(--text-center);
    color: var(--first-color);
    background-color: var(--second-color);
    border: none;
    border-radius: var(--radius);
    transition: var(--transition);
    cursor: var(--pointer);
    letter-spacing: 0.1rem;
}

.link-card span {
    margin-left: 1rem;
    transition: var(--transition);
}

.link-card:hover,
.link-card:active {
    background-color: var(--fourth-color);
    color: var(--second-color);
}

.link-card:hover span,
.link-card:active span {
    margin-left: 1.5rem;
}

a#view-more-projects {
    display: block;
    color: var(--second-color);
    margin-top: 3rem;
}

#contact .container {
    flex-direction: column;
    padding: 2rem;
}

#contact-email i, span {
    font-size: var(--subtitle-font);
    font-weight: 900;
    color: var(--first-color);
    margin-top: 2rem;
}

a#view-more-projects:hover {
    color: var(--first-color);
}

#arrow-up  {
    position: var(--fixed);
    left: calc(100vw - 5rem);
    bottom: 2rem;
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    background-color: var(--second-color);
    color: var(--fourth-color);
    cursor: var(--pointer);
    transition: var(--transition);
}

#arrow-up:hover {
    background-color: var(--third-color);
    color: var(--fourth-color);
}

@media screen and (max-width: 1075px) {

    body.active-menu {
        overflow: hidden;
    }

    img {
        width: 100%;
    }

    .my-photo img {
        height: 12.5rem;
    }

    p, span {
        font-size: var(--text-font);
        text-align: justify;
    }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #header #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        width: 100%;
        height: 0rem;
        top: 0;
        right: 0;
        background-color: var(--first-color);
        visibility: hidden;
        overflow-y: hidden;
        z-index: 2;
        transition: 0.6s;
    }    

    #header #menu.active {
      height: 100vh;
      visibility: visible;
    }    

    a.link.active-menu {
        color: var(--fourth-color);
    }

    #menu-mobile {
        display: block;
        z-index: 2;
    }
    
    .section {
        width: 100%;
        padding: 2rem 1rem;
    }

    #home .container {
        flex-direction: column-reverse;
        justify-content: end;
    }

    /* Section: home */

    #social-media {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 2rem;
    }

    #social-media i {
        font-size: 1rem;
    }

    #apresentation {
        display: grid;
        gap: 1rem;
        justify-items: center;
    }

    /* Section: about */

    #info {
        padding: 1rem 0;
    }

    #quanty-project {
        flex-wrap: wrap;
    }

    #download-curriculum {
        display: block;
        color: var(--first-color);
        text-align: center;
    }

    #download-curriculum:hover {
        color: var(--second-color);
    }

    /* Section: skills */

    #skills {
        display: grid;
        gap: 2rem;
        justify-items: center;
    }

    .flex-languages {
        display: grid;
        gap: 2rem;
        justify-items: center;
    }

    .link-language {
        font-size: var(--subtitle-font);
    }

    .image-language {
        width: 5rem;
    }

    /* Section: contact */

    #contact-me {
        background-color: var(--first-color);
        border-radius: var(--radius);
        width: 10rem;
        padding: 0.75rem;
        color: var(--fourth-color);
    }

    #contact .container {
        flex-direction: row;
        padding: 0.5rem;
    }
    
    #contact-email i, span {
        font-size: 0.8rem;
        font-weight: 900;
        color: var(--first-color);
        margin-top: 1rem;
    }
    
    .footer {
        background-color: var(--first-color);
        color: var(--fourth-color);
        padding: 2.5rem 0;
    }

    .right-reserved h3 {
        color: var(--second-color);
    }
}

@media screen and (min-width: 1075px) {

    .button {
        font-size: 1.25rem;
        background-color: var(--first-color);
        color: var(--fourth-color);
        width: 15rem;
        padding: 1rem 0.5rem;
        border-radius: var(--radius);
        transition: var(--transition);
        text-align: var(--text-center);
    }
    
    .button:hover {
        color: var(--second-color);
    }

    /* Header */

    #header {
        position: var(--fixed);
        width: 100%;
        padding: 0 2rem;
        z-index: 1;
    }

    #header.active {
        background-color: var(--first-color);
    }

    #header #navbar {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 0;
    }

    ul.flex {
        display: flex;
        justify-content: space-between;
    }
    
    ul.flex li a {
        margin-left: 1.75rem;
    }

    i.hover:hover {
        transform: scale(120%);
    }

    a.link.active {
        color: var(--fourth-color);
    }

    a.link.active:hover {
        color: var(--second-color);
    }

    /* Section default */

    .section {
        padding: 2rem 2rem;
        z-index: 1;
    }

    h2.title-section {
        font-size: var(--h2-font);
    }

    /* Section: home */

    .container {
        justify-content: space-between;  
    }

    #apresentation {
        display: grid;
        gap: 1.5rem;
    }

    #apresentation h1#title {
        font-size: var(--title-font);
    }

    #apresentation span#subtitle {
        font-size: var(--subtitle-font);
    }

    #apresentation p#description {
        font-size: var(--text-font);
    }

    /* Section: about */

    #about .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #data {
        display: grid;
        gap: 3rem;
        width: 50%;
    }

    /* Section: skills */

    .flex-languages {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 4rem;
    }

    .item-language {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }

    .image-language {
        width: 6rem;
        object-fit: contain;
        height: inherit;
    }

    /* Footer */

    .footer {
        background-color: var(--first-color);
        color: var(--fourth-color);
        padding: 2.5rem 0;
    }

    .right-reserved h3 {
        color: var(--second-color);
    }

}